body {
  color: #e2e2e2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('images/background-todo.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  padding-top: 5rem;
  margin: 100px auto;
  width: 600px;
  padding: 1rem;
  background: #36393f;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  border-radius: 5px;
}

.rm {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
  border: none;
}
.rm:hover {
  opacity: 1;

}

.done {
  text-decoration: line-through;
}

.btn {
  border-radius: 3px;
  color: #fff;
  background-color: #7289da;
  border:none;
  width: 20%;
  font-size: 16px;
  line-height: 24px;
  transition: background-color .17s ease,color .17s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #677bc4;
}